/* Reset-ish */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333333;
  background-color: #FFF8E7;
}

/* Hero */
.hero {
  background: #C1856D;
  color: rgb(245, 244, 239);
  text-align: center;
  padding: 5rem 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* shadow */
  position: relative; /* make sure shadow can render */
  z-index: 1;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero p {
  max-width: 600px;
  margin: 0 auto 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
}

.primary {
  background: #965331;
  color: white;
}

.secondary {
  background: transparent;
  border: 1px solid white;
  color: white;
}

/* Features */
.features {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 2rem;
  background: #FFF8E7;
}

.feature-card {
  background: rgb(255, 251, 241);
  padding: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  border-radius: 8px;
  width: 280px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.feature-card .icon {
  font-size: 2rem;
  margin-bottom: rem;
}
